# IntelliJ / Android Studio
*.iml
.idea/*
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/Project_Default.xml
!.idea/runConfigurations.xml
!.idea/vcs.xml
!.idea/gradle.xml
!.idea/misc.xml

# Gradle / Kotlin
.gradle/
.gradle-user-home/
.kotlin/
**/build/

# Local machine config
local.properties

# Android build artifacts
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db
